/* Styles go here */
svg, path, img {
     -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}
body {font-family: "Comfortaa";}
a{color: "white"; text-decoration: none;}
.list-group-item{padding-top:4px; padding-bottom:5px ;color:#aad9d8ff; background: #7c9cb6ff; border-radius: 9px; border:0; margin:1px}
#screen{min-height: 800px;}
#input_mask { border-radius:9px; margin-top: 0px;height:60px; }
#input_btn { border-radius:9px; margin-top: 0px;height:60px; background:rgba(73,165,263,0.32); }
#blue {background:#aad9d8ff; color: #7c9cb6ff; border-radius: 9px;}
#green {background: #9fe6c3; color: #9f95c3ff; border-radius: 9px;}
#violet {background:#d1cfd5; border-radius: 9px; }
#grey {background:#e2e3dbff; border-radius: 9px; }


#file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#file + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: mediumseagreen;
    display: inline-block;
}

#file:focus + label,
#file + label:hover {
    background-color: red;
}
#file + label {
	cursor: pointer; /* "hand" cursor */
}
#file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}