.c {
  position: absolute;

  max-width: 100%;
  top: 0px;
  max-height: 220px;
  width: 100%;
  height: 220px;
  cursor: pointer;
  will-change: transform, opacity;
  border-radius: 9px;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(https://ipfs.io/ipfs/QmcuixeiT2z79LmvmxjGoNqZ9cPouMh19D49sp7E8Pguih);
}

.front {
  background-image: url(https://ipfs.io/ipfs/QmaX6UXZcYW1ACTHt7fGPK4iAfwcrhm5orNt9dFeBomHz4);
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}