.c {
  position: absolute;

  width: "100%";
  top: 0px;
  max-height: 300px;
  width: 100%;
  height: 300px;
  cursor: pointer;
  will-change: transform, opacity;
  border-radius: 9px;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(https://ipfs.io/ipfs/QmdAPLjpb3nvS9jtY1f6XM1wyXGw34eXCLdcyHXxq893fY);
}

.front {
  background-image: url(https://ipfs.io/ipfs/QmfPaSppwJwpFjtZWCa9skSu2TR4XPy6p3M6w6AKYDZm6G);
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
